body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 480px;
}

body * {
    margin: 0;
    
}

* a {
    text-decoration: none;
    text-decoration-style: none;
}

/* header style */

header {
    background-color: #1f2937;
    margin:0; 
    /* border: 2px solid red; */
    
}

ul a {
    color: #e5e7eb;
}

header {
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 300px ; 
    /* border: 2px solid red; */
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    max-height: 50px;
}

header .container ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    font-size: 18px;
    /* border: 2px solid red; */
    margin: 0;
    
}

header .container .logo {
    font-size: 24px;
    color: #f9faf8;
    /* border: 2px solid red; */
    margin: 0;
}

.hero {
    background-color: #1f2937;
    color: white;
}

/* .hero * { border: 2px solid red;} */

.hero .container {
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
    flex-wrap: wrap;
    padding: 100px 300px;    
}

img {
    width: 400px;
}

.hero .container .text {
    padding-right: 140px;
    display: flex;
    justify-content: flex-start;
    flex:1;
    flex-direction: column;
}

.hero .container .text .upperbtn {
    font-size: 18px ;
    font-weight: bolder;
    background-color: #3882f6;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    border-style: none;
}

.hero .container .text .upperbtn a {
    color: #e5e7eb;
}

.hero .container .text h1 {
    font-size: 48px;
    flex:1 0 ;
}
.hero .container .text p {
    font-size: 18px;
    flex:1 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
}

.card {

    padding: 40px 20px;
       
}

.cards .container {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    flex-wrap: wrap;
    
}


.box {
    box-sizing: border-box;
    border: 4px solid #3882f6;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    padding: 30px ;   
}

.card p {
    width: 200px;
    text-align: center;
    font-size: 18px;
}

/* Quote */

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote p {
    font-style: italic;
    color: #1f2937;
    font-size: 36px ;
    text-align: left;
    padding: 150px 400px  0px  ;
}

.quote footer {
    text-align: right;
    padding-bottom: 150px;
    padding-right: 400px;
    padding-top: 30px;
    font-size: 26px;
    font-weight: bold;
}

/* Call to action */

.call-to-action {
    
}

.call-to-action .container {
    color: white;
    background-color: #3882f6;
    margin: 130px 300px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 200px;
    flex-wrap: wrap;
}

.text h3 {
    font-weight: 800;
    font-size: 30px;
}

.text p {
    font-size: 18px;
    margin-top: 10px;
}

.container button {
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid white;
    width: 160px;
    height: 40px;
    flex: none;
}

.lowerbtn a {
    font-size: 18px;
    font-weight: 800;
    color: white;
}

/* Footer */

.lwrfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    height: 80px;
}