body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

body * {
    margin: 0;
}

* a {
    text-decoration: none;
    text-decoration-style: none;
}

/* header style */

.header {
    background-color: #1f2937;
    margin:0; 
    /* border: 2px solid red; */
    
}

ul a {
    color: #e5e7eb;
}

.header  * {
    margin: 5px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 0px 300px ; 
    /* border: 2px solid red; */
    margin: 0;
    align-items: center;
}

.header .container ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    font-size: 18px;
    align-items: center;
    /* border: 2px solid red; */
    margin: 0;
    
    
}

.header .container .logo {
    font-size: 24px;
    color: #f9faf8;
    text-align: center;
    /* border: 2px solid red; */
    margin: 0;

}

.hero {
    background-color: #1f2937;
    color: white;
}

/* .hero * { border: 2px solid red;} */

.hero .container {
    display: flex;
    justify-content: center;
    padding: 100px 300px;
    margin-top: 0px;
    height: 250px;
    flex-wrap: wrap;
    
}

.hero .container .imageplace {
    order: 1;
    font-size: 18px;
    color: #e5e7eb;
    align-self: stretch;
    align-content: center;
    background-color: rgb(86, 85, 85);
    flex-basis: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ;
}

.hero .container .text {
    flex: 1;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 235px;
    flex-basis: 400px;

}

.hero .container .text .upperbtn {
    align-self: flex-start;
    font-size: 18px ;
    font-weight: bolder;
    background-color: #3882f6;
    color: white;
    margin: 10px 0px;
    padding: 8px 30px;
    border-radius: 8px;
    border-style: none;
}

.hero .container .text .upperbtn a {
    color: #e5e7eb;
}

.hero .container .text h1 {
    font-size: 48px;
    flex:1 0 ;
}
.hero .container .text p {
    font-size: 18px;
    flex:1 0;
}

.cards h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.cards .container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.box {
    border: 2px solid #3882f6;
    border-radius: 15px;
    width: 120px;
    height: 120px;
    margin: 15px;
    
    padding:;
}
